<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgotPasswordForm">
      
      
      @if (step === 'request') {
        <div class="form-step">
          <p>Enter your email address to reset your password</p>
          
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            autocomplete="email"
          />
          
          @if (submitted && forgotPasswordForm.get('email')?.errors?.['required']) {
            <small class="error">Email is required</small>
          }
          @if (submitted && forgotPasswordForm.get('email')?.errors?.['email']) {
            <small class="error">Enter a valid email</small>
          }

          <button type="button" (click)="onRequestReset()">
            Continue
          </button>
        </div>
      }

      
      @if (step === 'verify') {
        <div class="form-step">
          <p>To verify your identity, please enter your username</p>
          
          <input
            type="text"
            placeholder="Username"
            formControlName="securityAnswer"
          />
          
          @if (submitted && !forgotPasswordForm.get('securityAnswer')?.value) {
            <small class="error">Username is required</small>
          }

          <button type="button" (click)="onVerifyUser()">
            Verify
          </button>
        </div>
      }

      
      @if (step === 'reset') {
        <div class="form-step">
          @let newPasswordCtrl = forgotPasswordForm.get('newPassword');
          
          <p>Enter your new password</p>
          
          <input
            type="password"
            placeholder="New Password"
            formControlName="newPassword"
            autocomplete="new-password"
          />
          
          @if (submitted) {
            @if (newPasswordCtrl?.errors?.['required']) {
              <small class="error">Password is required</small>
            }
            @if (newPasswordCtrl?.errors?.['maxlength']) {
              <small class="error">Password max 10 characters</small>
            }
            @if (newPasswordCtrl?.errors?.['pattern']) {
              <small class="error">Must contain 1 number and 1 special character</small>
            }
          }

          <input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />

          <button type="button" (click)="onResetPassword()">
            Reset Password
          </button>
        </div>
      }

      <div class="action-links">
        <button type="button" class="back-btn" (click)="goBack()">
          ← Back
        </button>
        <a routerLink="/" class="login-link">Back to Login</a>
      </div>
    </form>
  </div>
</div>